body {
    background-color: white;
    font-family: 'Open Sans';
    font-weight: 300;
    --title-scale: 1;
    color: white;
    font-style: normal;
}
.navbar {
    height: fit-content;
    background-color: white;
    position: fixed;
    width: 100%;
    font-family: 'Roboto', Arial, serif;
}

.logodd {
    width: 267px;
    font-size: 26px;
    font-weight: 100;
    line-height: 50px;
    margin-left: 75px;
    color: #000;
}

.logodd:hover {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    list-style-type: none;
}

.navbar ul {
    justify-content: right;
}

.navbar li a {
    text-decoration: none;
    font-size: 1.1em;
    margin-right: 30px;
    color: #000;
}

.navbar li a:hover {
    text-decoration: underline;
    color: #000;
}

.bodyimg {
    width: 100%;
}

.abt {
    background-color: #f6f9fc;
    color: #6b7c93;
    text-align: left;
    font-size: 1.5em;
    padding: 30px 0px 30px 0px;
}

.abtt {
    margin: 20px 40px 20px 40px;
}

.about {
    font-size: calc(2em*var(--title-scale));
    color: rgba(51, 51, 95 .3);
    font-family: 'Roboto', Arial, serif;
    line-height: 1.3em;
    font-weight: 300;
}
.pull-right {
    justify-content: right;
    align-content: right;
    text-align: right;
    margin: 0px 50px;
}

.team {
    background-color: #405dff;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.who {
    font-size: calc(20px * var(--title-scale));
    line-height: 1.3em;
}

.grp {
    font-size: 1.5em;
}

.profileimg {
    width: 80px;
}


.teammem {
    text-align: center;
    margin: 0px 20px;
    width: calc(33.3333% - 40px);
}

.discrip {
    font-size: 1.1em;
}

.pdiscrip {
    font-size: 1.1em;
    line-height: 1.6em;
}

.stars {
    width: 34px;
    height: 34px;
    padding: 5px;
    font-size: 2rem;
    color: white;
    background-color: rgb(135, 206, 235);
}

.name {
    margin-top: 14px;
    font-size: 1.3em;
}

.services {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f6f9fc;
}

.style1 {
    font-size: calc(2.3em*var(--title-scale));
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-family: 'Roboto', Arial, serif;
    line-height: 1.3em;
    margin-bottom: 5px;
}

.style2 {
    color: rgba(107, 124, 147, 0.7);
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 50px;
    width: 50%;
    margin-left: 25%;
}

.projects {
    background-color: #405dff;
    padding: 30px 10%;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', Arial, serif;
}

.style3 {
    width: 25%;
    margin-bottom: 50px;
}

.style4 {
    font-size: calc(2.7em*var(--title-scale));
    padding: 50px 0px;
}

.cntctfrm {
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', Arial, serif;
}

.style5 {
    font-size: calc(2.7em*var(--title-scale));
    font-family: 'Roboto', Arial, serif;
    color: #32325d;;
    text-align: center;

}

.style6 {
    font-size: 1.5em;
    font-family: 'Roboto', Arial, serif;
    color: #6b7c93;
    text-align: center;
}

.fname {
    width: 50%;
    justify-content: center;
    margin-left: 25%;
}

.style7 {
    color: #6b7c93;
    font-size: 15px;
    text-align: left;
    width: 100%;
}

.cntct {
    width: 50%;
    justify-content: center;
    margin-left: 25%;

}

.style8 {
    color: #6b7e99;
    font-size: 15px;
    text-align: left;
    padding: 0;
    margin: 0px 0px 20px 0px ;
    width: 100%;
    height: 150px;
}

.inputt {
    border: 2px solid hsla(0,0%,49.4%,.3);
    border-radius: 3px;
}

.style9 {
    background-color:#0a347d;
    justify-content: right;
    margin-left: 25%;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:11px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
	font-weight:bold;
}
.style9:hover {
	background-color:#062c59;
    box-shadow: 0px 0px 20px 0px #9fb4f2;
}
.style9:active {
	position:relative;
	top:1px;
}

.style10 {
    color: #32325d;
    line-height: 1.1em;
    font-size: 2em;
    margin: 0 0 8px;
    text-align: left;
}

.style11 {
    font-size: 1.2em;
    white-space: pre-line;
    font-family: 'Open Sans';
    color: #6b7c93;
    text-align: left;
}

.style12 {
    width: 20%;
    margin-left: 10%;
    text-align: left;

}

.style13 {
    width: 30%;
    margin-right: 10%;
}

.footer {
    background-color: #f6f9fc;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 8%;
}

.footer span {
    color: #6b7c93;
}

.style14 {
    text-decoration: none;
    color: #32325d;
    margin-right: 4%;
}

.style14:hover {
    text-decoration: underline;
    color: #32325d;
}

.icons1 {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin-right: 5%;
}

.icons1:hover {
    color: rgb(0, 0, 255);
}